<%= render "layouts/profile"%>

<div class="col-md-8">
<div class="seach">
<%=form_tag posts_path, method: :get, id:'search_product', class:'form-group', remote: true do %>
      <%=text_field_tag :search, params[:search], class:'form-control',  placeholder: "Search Post"%>
  <%end%>
      </div>
      <div class="post">
        <%= render @posts%>
      </div>
<nav>
    <nav>
          <%= paginate @posts%>
    </nav>
</div>
<script type="text/javascript">
$(document).ready(function () {
  var timeout = null;
  $('#search_product input').keyup(function(e){
      e.preventDefault();
      clearTimeout(timeout);
         timeout = setTimeout(function(){
                var data = $("#search").val();
                $.ajax({
                  url:$("#search_product").attr("action"),
                  data: {
                  search:data},
                  type: 'get',
                  dataType: 'script',
                    });
               }, 500);
      });
});
</script>


<!-- code js search 
<script type="text/javascript">
$(document).ready(function () {
  $('#search_product input').keyup(function(){
    $.get($('#search_product').attr("action"), $('#search_product').serialize(), null, "script");
    return false;
  });
});
</script>
 -->