<!DOCTYPE html>
<html>
<head>
  <title>Dinh Hieu</title>
  <%= favicon_link_tag 'dh_logo1.png' %>
  <!-- Latest compiled and minified CSS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="./assets/business-casual.css">
  <%= csrf_meta_tags %>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
    

</head>
<body>
    <div class="brand">Dinh Hieu</div>
    <div class="address-bar">Krong Nang - Dak Lak | 0977.147.276</div>

    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="index.html">Dinh Hieu</a>
                
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="<%=root_path%>">Home</a>
                    </li>
                    <li>
                        <a href="<%=posts_path%>">Posts</a>
                    </li>
                    <li>
                        <a href="<%=about_path%>">About</a>
                    </li>
                    
                    <li>
                        <a href="<%=new_message_path%>">Contact</a>
                    </li>
                    <li>
                   
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
<div class="container">
	<%flash.each do |name , msg|%>
		<%=content_tag :div, msg, class:"alert alert-info"%>
	<%end%>

	<%= yield %>
</div>
<footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Your Website <%=Date.current.year%></p>
                </div>
            </div>
        </div>
        
    </footer>
    
     <script>
    $('.carousel').carousel({
        interval: 8000 //changes the speed
    })
     $('.search').hide()
     $('#icon').click(function () {
       $('#icon').hide()
       $('.search').show()
     })
  
    </script>
        <!-- //Remove default JS code -->
</body>
</html>


